# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Lardieri Javier TP2 Entrega IA1.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Javo\Desktop\Parcial-2-IA-2\Parcial 2 IA 2\Lardieri Javier TP2 Entrega IA1\.idea\.idea.Lardieri Javier TP2 Entrega IA1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
